@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: 100vh;

  font-family: 'Poppins', sans-serif;
  text-align: center;

  background-color: rgb(161, 100, 223);

  overflow: hidden;
}

.btn {
  margin: 1rem;
  padding: 1.5rem 3rem;

  border-radius: 5px;
  border: none;

  background-color: rebeccapurple;
  color: #fff;

  font-family: inherit;
  font-size: 1.2rem;

  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
